<!--layouts/_default/_markup/render-image.html-->

<div class="centeredPictureHolder">
  <picture>
    {{ $imgPath := .Destination }}
    {{ $destImgPath := $imgPath }}
    {{ $fileExt := (path.Ext $imgPath) }}
    {{ $isJPG := eq $fileExt ".jpg" }}
    {{ $isPNG := eq $fileExt ".png" }}
    {{ $ext := replace $fileExt "." "" 1 }}
    {{ if or ($isJPG) ($isPNG) -}}
      {{ $avifPath:= replace $destImgPath (path.Ext $imgPath) ".avif" }}
      {{ $webpPath:= replace $destImgPath (path.Ext $imgPath) ".webp" }}
      {{ if ($isJPG) }}
        <source srcset="{{ $avifPath | safeURL }}" type="image/avif" />
      {{ end }}
      <source srcset="{{ $webpPath | safeURL }}" type="image/webp" />
      <source srcset="{{ $destImgPath | safeURL }}" type="image/{{ $ext }}" />
    {{ end }}
    <img src="{{ $imgPath }}" class="medium-zoom-image" id="zoom-margin" loading="lazy" decoding="async" />
    <figcaption>{{ .Title | markdownify }}</figcaption>
  </picture>
</div>
