{{ define "main" }}

<div class="row">
  <div class="col-md-8 offset-md-1">
    <div class="py-5 text-center">
      <h1 class="">{{.Title}}</h1>
      <h2><small class="text-muted">{{.Params.description}}</small></h2>
      <p class="lead fst-italic">
        Reading time: {{ math.Round (div (countwords .Content) 220.0) }} minutes.
      </p>
    </div>
    <div id="content" data-mdb-scrollspy-init data-mdb-target="#toc" data-mdb-offset="0"
      class="scrollspy-example">
      {{.Content }}
    </div>
  </div>
  <div class="col-md-2">
    <!-- Scrollspy -->
    <div id="toc" class="sticky-top" style="height: auto; top: 50vh; display: flex; justify-content: center; align-items: center; z-index: -1;">
      
    </div>
    
    <script>
tocbot.init({
  // Where to render the table of contents.
  tocSelector: '#toc',
  // Where to grab the headings to build the table of contents.
  contentSelector: '#content',
  // Which headings to grab inside of the contentSelector element.
  headingSelector: 'h1, h2, h3',
  // For headings inside relative or absolute positioned containers within content.
  hasInnerContainers: true,
  disableTocScrollSync: true,
});
tocbot.refresh();
    </script>
    <!-- Scrollspy -->
  </div>
</div>

{{ end }}