<nav class="navbar fixed-top navbar-expand-lg navbar-light bg-body-tertiary" style="z-index: 500;">
  <!-- Container wrapper -->
  <div class="container-fluid">
    <!-- Toggle button -->
    <button data-mdb-collapse-init class="navbar-toggler" type="button" aria-controls="right_navbar"
      data-mdb-target="#right_navbar" aria-expanded="false" aria-label="Toggle navigation">
      <i class="fas fa-bars"></i>
    </button>

    <!-- Collapsible wrapper -->
    <div class="collapse navbar-collapse" id="right_navbar">
      <!-- Right links -->
      <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
        <li class="nav-item">
          {{ $current_home := .IsHome}}
          {{ if $current_home }}
            <a class="nav-link active home-link" aria-current="page" href="{{.Site.BaseURL}}">Home</a>
          {{ else }}
            <a class="nav-link home-link" aria-current="page" href="/">Home</a>
          {{ end }}
        </li>
        {{ range .Site.Menus.main }}
          <li class="nav-item">
          {{$aURL := .URL | relLangURL}}
          {{$page := $.Page.Permalink | relLangURL}}
          {{$aURL2 := split $aURL "/"}}
          {{$page2 := split $page "/"}}
          {{$aURL3 := index $aURL2 1}}
          {{$page3 := index $page2 1}}
          {{if eq $aURL3 $page3}}
            <a class="nav-link active home-link" href="{{ .URL | relURL }}">{{.Name}}</a>
          {{else}}
            <a class="nav-link home-link" href="{{ .URL | relURL }}">{{.Name}}</a>
          {{end}}
          </li>
        {{ end }}
        <li class="nav-item align-items-center d-flex" >
          <i class="fas fa-sun"></i>
          <!-- Default switch -->
          <div class="ms-2 form-check form-switch">
            <input class="form-check-input" type="checkbox" role="switch" id="themingSwitcher" />
          </div>
          <i class="fas fa-moon"></i>
        </li>
      </ul>
      <!-- Right links -->
    </div>
    <!-- Collapsible wrapper -->
  </div>
  <!-- Container wrapper -->
</nav>

{{ template "_internal/google_analytics.html" . }}
