{{ define "main" }}

{{ partial "page-title.html" . }}

<div class="col col-md-10 offset-md-1">
  <div class="row">
    {{ .Content }}
  </div>
  
  <div class="row">
    <div id="auto_save"></div>
  </div>
  
  <div class="row col-md-8 offset-md-2 p-3">
    <div class="d-flex justify-content-center">
      <form id="contact" action="{{.Site.Params.contact.formAction}}" method="post" style="width: 100%">
        <div data-mdb-input-init class="form-outline mb-4">
          <input type="text" id="name" name="name" class="form-control" placeholder="John Doe" required>
          <label class="form-label" for="name">Name</label>
        </div>
        
        <div data-mdb-input-init class="form-outline mb-4">
          <input type="email" id="email" name="email" class="form-control" placeholder="email@example.com" required>
          <label class="form-label" for="email">Email</label>
        </div>
        
        <div data-mdb-input-init class="form-outline mb-4">
          <textarea class="form-control" id="message" name="message" rows="6" placeholder="Your message here." required disabled></textarea>
          <label class="form-label" for="message">Message</label>
        </div>
        
        <input type="hidden" id="g-recaptcha-response" name="g-recaptcha-response">
        
        <button data-mdb-ripple-init type="button" id="submit" class="btn btn-primary btn-block mb-4" disabled>Wait until captcha loaded<br>Please refresh this page if the captcha does not load properly.</button>
      </form>
    </div>
  </div>
</div>

{{ if .Site.Params.recaptcha.enabled }}
  {{ $site_id := .Site.Params.recaptcha.site_id }}
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js" delay></script>
  <script src="https://www.google.com/recaptcha/api.js?render={{ $site_id }}" delay></script>
  <script delay>
    setTimeout(() => {
      init_recaptcha('{{ $site_id }}');
    }, 3000);
  </script>
{{ end }}

{{ $contact := resources.Get "js/contact.js" | minify | fingerprint "sha256" }}
<script src="{{ $contact.Permalink | relURL}}" integrity="{{ $contact.Data.Integrity }}" delay></script>
{{ end }}