{{ define "main" }}
{{ partial "page-title.html" . }}
{{ $publications := resources.Get "css/publication.css" | minify }}
<link rel="stylesheet" href="{{ $publications.Permalink | relURL}}">

<div class="col col-md-10 offset-md-1 p-2">
  {{ if .Site.Data.publication.papers.enabled }}
    <div class="row">
      <h1>Research papers</h1>
    </div>
    {{ range .Site.Data.publication.papers.item }}
    <div class="row p-2">
      <div class="card card-border border-dark">
        <div class="row align-items-center">
          <div class="col-sm-3">
            <picture style="display: inline-block;">
              {{ if .image }}
                {{ $image_ext := (path.Ext .image) }}
                {{ $is_jpg := eq $image_ext ".jpg" }}
                {{ $is_png := eq $image_ext ".png" }}
                {{ $ext := replace $image_ext "." "" 1 }}
                {{ if or ($is_jpg) ($is_png) }}
                  {{ $avif:= replace .image (path.Ext .image) ".avif" }}
                  {{ $webp:= replace .image (path.Ext .image) ".webp" }}
                  {{ if $is_jpg }}
                    <source srcset="{{ $avif | absURL }}" type="image/avif" />
                  {{ end }}
                  <source srcset="{{ $webp | absURL }}" type="image/webp" />
                  <source srcset="{{ .image | absURL }}" type="image/{{ $ext }}" />
                {{ end }}
                <img class="img-fluid rounded-start medium-zoom-image" src="{{ .image | absURL }}" id="zoom-margin" loading="lazy" decoding="async">
              {{ end }}
              {{ if .date }}
                <figcaption class="date">{{ .date }}</figcaption>
              {{ end }}
            </picture>
          </div>
          <div class="col-sm-9">
            <div class="card-body">
              <h5 class="card-title">{{ .title }}</h5>
              {{ if .authors }}
                <p class="card-text">
                  Author list: 
                  {{ range .authors }}
                    {{ if eq .author "me"}}
                      <em class="fw-italic fw-bold">{{$.Site.Params.Author}}</em>
                    {{ else }}
                      <em class="fw-italic">{{.author}}</em>
                    {{ end }}
                  {{ end }}
                </p>
              {{ end }}
              {{ if .academy }}
                <p class="card-text fw-bolder">{{.academy}}</p>
              {{ end }}
              {{ if .journal }}
                <p class="card-text">Journal: <span class="fst-italic">{{.journal}}.</span>
                  {{ if .volume }}
                    <span class="fst-italic">{{.volume}}</span>
                  {{ end }}
                  {{ if .issue }}
                    (<span class="fw-bolder">{{.issue}}</span>)
                  {{ end }}
                  {{ if .status }}
                    ({{ .status }})
                  {{ end }}
                </p>
              {{ end }}
              <p class="card-text">
                {{ .description }}
              </p>
              <p class="card-text">
                {{ if .doi }}
                  <a class="card-link" href="https://doi.org/{{.doi}}" target="_blank">DOI</a>
                {{ end }}
                {{ if .arxiv_id }}
                  <a class="card-link" href="https://arxiv.org/abs/{{.arxiv_id}}" target="_blank">arXiv</a>
                {{ end }}
                {{ if .pdf_link }}
                  <a class="card-link" href="{{.pdf_link}}" target="_blank">PDF</a>
                {{ end }}
                {{ if .pubmed_id }}
                  <a class="card-link" href="https://pubmed.ncbi.nlm.nih.gov/{{.pubmed_id}}/" target="_blank">PubMed</a>
                {{ end }}
                {{ if .pmc_id }}
                  <a class="card-link" href="https://www.ncbi.nlm.nih.gov/pmc/articles/{{.pmc_id}}/" target="_blank">PMC free article</a>
                {{ end }}
                {{ if .code_link }}
                  <a class="card-link" href="{{.code_link}}" target="_blank">Code</a>
                {{ end }}
                {{ if .data_link }}
                  <a class="card-link" href="{{.data_link}}" target="_blank">Data</a>
                {{ end }}
                {{ if .contributions }}
                  <a tabindex="0" class="card-link" role="button" data-mdb-ripple-init
                    data-mdb-popover-init data-mdb-trigger="focus" data-mdb-placement="right" 
                    title="My contributions" data-mdb-content="{{ .contributions | safeHTML }}">
                    My contributions
                  </a>
                {{ end }}
              </p>
            </div>
          </div>
        </div>
      </div>
      </div>
    {{ end }}
  {{ end }}
</div>

<div class="col col-md-10 offset-md-1 p-2">
  {{ if .Site.Data.publication.conferences.enabled }}
    <div class="row">
      <h1>Conference Proceedings</h1>
    </div>
    {{ range .Site.Data.publication.conferences.item }}
    <div class="row">
      <div class="card card-border border-dark">
        <div class="row align-items-center">
          <div class="col-sm-3">
            <picture style="display: inline-block;">
              {{ if .image }}
                {{ $image_ext := (path.Ext .image) }}
                {{ $is_jpg := eq $image_ext ".jpg" }}
                {{ $is_png := eq $image_ext ".png" }}
                {{ $ext := replace $image_ext "." "" 1 }}
                {{ if or ($is_jpg) ($is_png) }}
                  {{ $avif:= replace .image (path.Ext .image) ".avif" }}
                  {{ $webp:= replace .image (path.Ext .image) ".webp" }}
                  {{ if $is_jpg }}
                    <source srcset="{{ $avif | absURL }}" type="image/avif" />
                  {{ end }}
                  <source srcset="{{ $webp | absURL }}" type="image/webp" />
                  <source srcset="{{ .image | absURL }}" type="image/{{ $ext }}" />
                {{ end }}
                <img class="img-fluid rounded-start medium-zoom-image" src="{{ .image | absURL }}" id="zoom-margin" loading="lazy" decoding="async">
              {{ end }}
              {{ if .date }}
                <figcaption class="date">{{ .date }}</figcaption>
              {{ end }}
            </picture>
          </div>
          <div class="col-sm-9">
            <div class="card-body">
              <h5 class="card-title">{{ .title }}</h5>
              {{ if .authors }}
                <p class="card-text">
                  Author list: 
                  {{ range .authors }}
                    {{ if eq .author "me"}}
                      <em class="fst-italic ">{{$.Site.Params.Author}}</em>
                    {{ else }}
                      <em class="fst-italic">{{.author}}</em>
                    {{ end }}
                  {{ end }}
                </p>
              {{ end }}
              {{ if .location }}
              <p class="card-text">{{.location}}</p>
              {{ end }}
              {{ if .conference }}
                <p class="card-text">In: <span class="fst-italic">{{.conference}}.</span>
                  {{ if .pages }}
                    <span class="fst-italic">Pages {{.volume}}</span>
                  {{ end }}
                </p>
              {{ end }}
              <p class="card-text">
                {{ .description }}
              </p>
              <p class="card-text">
                {{ if .doi }}
                  <a class="card-link" href="https://doi.org/{{.doi}}" target="_blank">DOI</a>
                {{ end }}
                {{ if .pdf_link }}
                  <a class="card-link" href="{{.pdf_link}}" target="_blank">PDF</a>
                {{ end }}
                {{ if .code_link }}
                  <a class="card-link" href="{{.code_link}}" target="_blank">Code</a>
                {{ end }}
                {{ if .data_link }}
                  <a class="card-link" href="{{.data_link}}" target="_blank">Data</a>
                {{ end }}
                {{ if .url }}
                  <a class="card-link" href="{{.url}}" target="_blank">Link</a>
                {{ end }}
                {{ if .contributions }}
                  <a tabindex="0" class="card-link" role="button" data-mdb-ripple-init
                    data-mdb-popover-init data-mdb-trigger="focus" data-mdb-placement="right" 
                    title="My contributions" data-mdb-content="{{ .contributions | safeHTML }}">
                    My contributions
                  </a>
                {{ end }}
              </p>
            </div>
          </div>
        </div>
      </div>
      </div>
    {{ end }}
  {{ end }}
</div>

<div class="col col-md-10 offset-md-1 p-2">
  {{ if .Site.Data.publication.books.enabled }}
    <div class="row">
      <h1>Books and book chapters</h1>
    </div>
    {{ range .Site.Data.publication.books.item }}
    <div class="row p-2">
      <div class="card card-border border-dark">
        <div class="row align-items-center">
          <div class="col-sm-3">
            <picture style="display: inline-block;">
              {{ if .image }}
                {{ $image_ext := (path.Ext .image) }}
                {{ $is_jpg := eq $image_ext ".jpg" }}
                {{ $is_png := eq $image_ext ".png" }}
                {{ $ext := replace $image_ext "." "" 1 }}
                {{ if or ($is_jpg) ($is_png) }}
                  {{ $avif:= replace .image (path.Ext .image) ".avif" }}
                  {{ $webp:= replace .image (path.Ext .image) ".webp" }}
                  {{ if $is_jpg }}
                    <source srcset="{{ $avif | absURL }}" type="image/avif" />
                  {{ end }}
                  <source srcset="{{ $webp | absURL }}" type="image/webp" />
                  <source srcset="{{ .image | absURL }}" type="image/{{ $ext }}" />
                {{ end }}
                <img class="img-fluid rounded-start medium-zoom-image" src="{{ .image | absURL }}" id="zoom-margin" loading="lazy" decoding="async">
              {{ end }}
              {{ if .date }}
                <figcaption class="date">{{ .date }}</figcaption>
              {{ end }}
            </picture>
          </div>
          <div class="col-sm-9">
            <div class="card-body">
              <h5 class="card-title">
                {{ if .chapter }}
                  {{.chapter}}
                {{ else }}
                  {{.title}}
                {{ end }}
              </h5>
              {{ if .authors }}
                <p class="card-text">
                  Author list: 
                  {{ range .authors }}
                    {{ if eq .author "me"}}
                      <em class="fst-italic ">{{$.Site.Params.Author}}</em>
                    {{ else }}
                      <em class="fst-italic">{{.author}}</em>
                    {{ end }}
                  {{ end }}
                </p>
              {{ end }}
              {{ if .chapter }}
                <p class="card-text">
                  <p class="fw-bolder">
                    {{ if .pages }}
                      In: {{.title}}, <span class="fst-italic">Pages {{.volume}}</span>
                    {{ else }}
                      In: {{.title}}.
                    {{ end }}
                  </p>
                </p>
              {{ end }}
              {{ if .publisher }}
                <p class="card-text">
                  <span> Publisher: {{ .publisher }}
                  {{ if .location }}
                    , {{ .location }}
                  {{ end }}
                  </span>
                  {{ if .pages }}
                    <span class="fst-italic">Pages {{.volume}}</span>
                  {{ end }}
                </p>
              {{ end }}
              <p class="card-text">
                {{ .description }}
              </p>
              <p class="card-text">
                {{ if .isbn }}
                  <a class="card-link">ISBN: {{.isbn}}</a>
                {{ end }}
                {{ if .worldcat_id }}
                  <a class="card-link" href="https://www.worldcat.org/title/{{.worldcat_id}}" target="_blank">WorldCat</a>
                {{ end }}
                {{ if .publisher_link }}
                  <a class="card-link" href="{{.publisher_link}}" target="_blank">Publisher</a>
                {{ end }}
                {{ if .link }}
                  <a class="card-link" href="{{.link}}" target="_blank">Link</a>
                {{ end }}
                {{ if .contributions }}
                  <a tabindex="0" class="card-link" role="button" data-mdb-ripple-init
                    data-mdb-popover-init data-mdb-trigger="focus" data-mdb-placement="right" 
                    title="My contributions" data-mdb-content="{{ .contributions | safeHTML }}">
                    My contributions
                  </a>
                {{ end }}
              </p>
            </div>
          </div>
        </div>
      </div>
      </div>
    {{ end }}
  {{ end }}
</div>

{{ end }}


